/* Estilo general del componente de inicio de sesión */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  h5{
    margin-top: 30px;
    text-align: center;
    color:#888181;
  }
  
  .card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Estilo para los campos de entrada del formulario */
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilo para los botones */
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
